* {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.title-tim {
  font-size: 16px;
  font-weight: bold;
}

body {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #55555A;
}

.title {
  font-size: 56px;
  font-family: 'DM Serif Display', serif;
  margin-top: 0;
  padding-top: 0;
}

.subtitle {
  font-weight: bold;
  color: #55555a;
}

.faded-text {
  color: #c8c8cc;
  font-weight: bold;
}

.lead {
  font-size: 18px;
}

.gray-circle {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #d8d8d8;
  border-radius: 20px;
}

.white-circle {
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 30px;
  margin: 25px 0px 20px 10px;
}

/* Header */
nav ul li {
  margin: auto 5px;
  padding: 20px 0;  
}

nav ul li a {
  color: #55555A;
  font-weight: bold;
  font-size: 12px;
  padding: 10px 0;
}

nav ul li a:hover {
  text-decoration: none;
  color: #888;
}

nav div .btn {
  margin-top: 20px;
}

.navbar-toggle .icon-bar {
  background-color: #009f29;
}

.navbar-toggle  {
  border-color: #009f29;
}

.logo {
  display: inline;
  margin-right: 20px;
  padding-top: 25px;
}

nav a img {
  max-width: 90px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/* blog section */

.blog {
  margin-top: 100px;
}

.blog-text {
  background-color: #009f29;
  color: white;
  position: relative;
  padding: 30px 40px;
  width: 260px;
  border-radius: 10px;
  height: 300px;
}

.blog-text h4 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

.blog-text p {
  font-size: 26px;
  font-weight: bold;
  margin-top: 30px;
}

.blog-image {
  background: url("../images/bass-player.jpg") no-repeat;
  background-size: cover;
  height: 300px;
  width: 350px;
  border-radius: 15px;
  position: relative;
  top: -200px;
  left: 90px;
  margin-bottom: -300px;
  z-index: -1;
}

.blog-gray-bg {
  background-color: #c4c4c8;
  border-radius: 10px;
  height: 400px;
  width: 320px;
  position: relative;
  top: -250px;
  left: 30px;
  z-index: -2;
  margin-bottom: -225px;
}

.blog-content p {
  margin-top: 50px;
  font-size: 18px;
}

.blog-content button {
  margin-top: 40px;
  width: 190px;
}

.blog-posts {
  margin-top: 60px;
}

.blog-posts h3 {
  font-family: 'DM Serif Display', serif;
  font-size: 21px;
  padding: 5px 5px;
}

.blog-posts p {
  font-size: 15px;
  line-height: 1.5em;
  text-align: justify;
  padding: 5px;
}

.blog-posts a {
  font-size: 15px;
  color:#549e66;
  padding: 5px;
}

/* course (dashboard and plans) */
.course {
  border-radius: 12px;
  background-color: #fff;
  margin-bottom: 50px;
  box-shadow: -1px 13px 20px 0 rgba(0, 0, 0, 0.1);
}

.course header {
  height: 160px;
  width: 100%;
  border-radius: 12px 12px 0px 0px;
}

.course header img {
  border-radius: 12px 12px 0px 0px;
  padding: 0;
  z-index: 0;
  position: relative;
  height: 160px;
  width: 100%;
}

.course .badge {
  background-color: #fff;
  color: #55555a;
  font-size: 14px;
  font-weight: bold;
  width: 97px;
  height: 27px;
  border-radius: 13.5px;
  position: relative;
  top: -135px;
  padding-top: 6px;
  z-index: 1;
  margin-bottom: -27px;
}

.course .title {
  font-size: 21px;
  font-weight: bold;
  color: #55555a;
  padding: 40px 20px 20px 20px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.course .progress, 
.course .progress .progressbar {
  margin: 0px 20px 20px 20px;
  height: 8px;
  border-radius: 8px;
}

.progress-bar-success {
  background-image: linear-gradient(to bottom, #009c3b 0,#449d44 100%);
  background-repeat: repeat-x;
}

.course a {
  margin-left: 20px;
  margin-bottom: 20px;
  width: 100%;
}

.course a:hover span {
  color: #009c3b;
}

.course a .gray-circle {
  height: 24px;
  width: 24px;
}

.course a span {
  display: inline-block;
  margin-left: 5px;
  color: #77777c;
  font-size: 12px;
  font-weight: 600;
}

.course a img{
  float: right;
  margin-right: 45px;
  padding-top: 5px;
}

.single-courses .white-frame h3 {
  max-width: 180px;
}

.single-courses .white-frame span {
  padding-bottom: 57px;
  margin-left: 30px;
}

/* footer */
.footer {
  background-color: #009f29;
  color: white;
  font-size: 16px;
  overflow: hidden;
  margin-top: 200px;
}

.footer div.row:first-of-type {
  border-bottom: solid 1px rgba(255, 255, 255, 0.07);
  padding-bottom: 25px;
}

.footer div.row:first-of-type img {
  padding-bottom: 30px;
  padding-top: 50px;
}

.footer div.row:first-of-type img {
  padding-top: 50px;
  padding-bottom: 30px;
}


.footer div.row:first-of-type ul li {
  display: inline-block;
  padding-left: 82px;
  padding-top: 30px;
}

.footer div.row:nth-of-type(2) {
  padding-top: 50px;
}

.footer div.row:nth-of-type(2) h1 {
  font-size: 16px;
  height: 60px;
  line-height: 1.4;
  letter-spacing: 1.14px;
  font-weight: bold;
  text-transform: uppercase;
}

.footer div.row:nth-of-type(2) ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer div.row:nth-of-type(2) ul li, .footer div.row:nth-of-type(2) p{
  padding: 0 0 15px 0;
}

.footer div.row:nth-of-type(2) ul li a, .footer div.row:nth-of-type(2) p{
  color: white;
  letter-spacing: 1.14px;
  text-decoration: none;
}

.footer div.row:nth-of-type(3) {
  padding: 50px 0;
  border-bottom: solid 1px rgba(255, 255, 255, 0.07);
}

.footer div.row:nth-of-type(4) {
  padding: 50px 0 25px 0;
}

.footer div.row:nth-of-type(4) p {
  font-size: 14px;
}

.footer div.row:nth-of-type(4) ul {
  list-style: none;
}

.footer div.row:nth-of-type(4) ul li {
  display: inline-block;
  padding: 0 10px;
}

.footer div.row:nth-of-type(4) ul li a {
  font-size: 14px;
  color: white;
  letter-spacing: 1.14px;
}

.footer div.row ul li a:hover {
  color: #c4c4c8;
  text-decoration: none;
}