@media only screen and (max-width: 779px) {
  .dashboard-title {
    font-size: 18px;
    text-align: center;
  }

  .dashboard-header div.container div.row
  div:nth-of-type(3) {
    text-align: center;
  }

  /* activity */

  .activity .nav li a {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    padding-top: 6px;
    margin: 0;
    width: 100%;
  }

  .musician {
    display: block;
    margin: 0 auto 40px auto;
  }

  /* last-news */
  .green-headed-news {
    margin-bottom: 40px;
  }
  
  .reviews span:first-of-type {
    margin-right: 10px;
  }
  
  .reviews .glyphicon-star {
    font-size: 14px;
    margin-right: 1px;
  }

  .reviews .glyphicon-star-empty {
    font-size: 14px;
  }

  .green-headed-news .content .values p:last-of-type, .blue-headed-news .content .values p:last-of-type {
    font-size: 14px;
  }
  
  .buy-now a {
    font-size: 10px;
  }
  

  /* plans */
  .blue-frame,
  .green-frame {
    margin-bottom: 20px;
  }

  .white-frame h3 {
    font-size: 14px;
    margin-top: 25px;
  }

  .plans > div:first-of-type > div:first-of-type > div:first-of-type > div:nth-of-type(2) {
    margin-top: 0px;
  }

  /* courses */
  .single-courses .white-frame h3 {
    max-width: 100%;
    margin-top: 0;
  }

  .blue-frame,
  .green-frame,
  .purple-frame {
    width: 100%;
  }

  .single-courses .white-frame span {
    vertical-align: top;
  }
}