/* dashboard-header */
.dashboard-header {
  background: url('../images/Retangulo\ illustra.svg') no-repeat;
  background-size: cover;
}

.dashboard-title {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  padding: 25px 0px;
  margin-right: 10px;
}

.pencil-icon {
  font-size: 18px;
  color: #fff;
}

.dashboard-status {
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  text-align: center;
}

.dashboard-status h2 {
  font-size: 21px;
  font-weight: bold;
  color: #fff;
}

.dashboard-status p {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

/* activity */
.activity {
  margin-top: 60px;
}

.activity .nav  {
  display: flex;
  flex: 1 1;
  text-align: center;
  justify-content: center;
}

.nav-justified>li {
  display: block;
  width: 300px;
  padding-bottom: 5px;
}

.activity .nav li:first-of-type {
  margin-right: -1px;
}

.activity .nav li:last-of-type {
  margin-left: -1px;
}

.activity .nav li a {
  color: #009c3b;
  font-size: 14px;
  font-weight: 600;
  width: 300px;
  border: solid 1px #009c3b;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  padding-top: 6px;
}

.activity .nav-pills>li.active>a {
  color: #fff;
  background-color: #009c3b;
}

.activity .nav li:first-of-type a {
  border-radius: 5px 0px 0px 5px;
  height: 33px;
}

.activity .nav li:last-of-type a {
  border-radius: 0px 5px 5px 0px;
  height: 33px;
}

/* activity tabpanel content */
.tab-content {
  margin-top: 40px;
}

.course-details {
  margin: 60px auto 100px auto;
  border-radius: 12px;
  padding: 30px;
  background-color: #fff;
  box-shadow: -1px 13px 20px 0 rgba(0, 0, 0, 0.1);
}

.course-details .subtitle {
  font-size: 16px;
}

.module-title {
  margin-top: 25px;
  margin-bottom: 20px;
  font-size: 12px;
  font-weight: bold;
  color: #77777c;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.videos-list {
  margin: 0;
  padding: 20px 0px 10px 5px;
  border-radius: 6px;
  background-color: #f4f5f7;
}

.video-text {
  font-size: 12px;
  font-weight: bold;
  color: #77777c;
  margin-bottom: 10px;
  padding-top: 3px;
}

.go-to-course {
  font-size: 12px;
  font-weight: bold;
  color: #55555a;
  margin-top: 20px;
  display: block;
}

.go-to-course:hover {
  text-decoration: none;
  color: #a8a8a8;
}

/* progress bar */
.progress-pie-chart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #e5e5e5;
  position: relative;
}
.progress-pie-chart.gt-50 {
  background-color: #81ce97;
}

.ppc-progress {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  clip: rect(0, 50px, 50px, 25px);
}

.ppc-progress .ppc-progress-fill {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width: 50px;
  height: 50px;
  clip: rect(0, 25px, 50px, 0);
  background: #009c3b;
  transform: rotate(60deg);
}

.gt-50 .ppc-progress {
  clip: rect(0, 25px, 50px, 0);
}
.gt-50 .ppc-progress .ppc-progress-fill {
  clip: rect(0, 50px, 50px, 25px);
  background: #e5e5e5;
}

.ppc-percents {
  content: "";
  position: absolute;
  border-radius: 50%;
  left: calc(50% - 40px/2);
  top: calc(50% - 40px/2);
  width: 40px;
  height: 40px;
  background: #fff;
  text-align: center;
  display: table;
}
.ppc-percents span {
  display: block;
  font-size: 11px;
  font-weight: bold;
  color: #55555a;
}

.pcc-percents-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.progress-pie-chart {
  margin: 0 0 0 auto;
}

/* last-news */
.last-news {
  margin-bottom: 60px;
}

.last-news .subtitle {
  margin-bottom: 60px;
}

.green-headed-news {
  border-radius: 12px;
  height: 380px;
  box-shadow: -1px 13px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.blue-headed-news {
  border-radius: 12px;
  height: 380px;
  box-shadow: -1px 13px 20px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff; 
}

.green-headed-news header {
  background: url("../images/header_card.svg") center no-repeat;
  background-size: cover;
  height: 87px;
  border-radius: 12px 12px 0px 0px;
}

.blue-headed-news header {
  background: url("../images/header_card_azul.svg") center no-repeat;
  background-size: cover;
  height: 87px;
  border-radius: 12px 12px 0px 0px;
}

.green-headed-news .badge {
  color: #009c3b;
  background-color: #fff;
  padding-top: 7px;
  width: 97px;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  margin-top: 32px;
}

.blue-headed-news .badge {
  color: #3c8798;
  background-color: #fff;
  padding-top: 7px;
  width: 97px;
  height: 27px;
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  margin-top: 32px;
}

.green-headed-news .white-circle, .blue-headed-news .white-circle  {
  position: relative;
  width: 66px;
  height: 66px;
  border-radius: 33px;
  top: -33px;
  left: 25px;
}

.green-headed-news .white-circle img, .blue-headed-news .white-circle img {
  position: relative;
  left: -11px;
  top: 4px;
  height: 58px;
  width: 58px;
}

.reviews {
  position: relative;
  top: -70px;
  height: 20px;
}

.reviews span {
  display: inline-block;
}

.reviews span:first-of-type {
  font-size: 12px;
  font-weight: 500;
  color: #55555a;
  margin-right: 18px;
}

.reviews .glyphicon-star {
  color: #fdb933;
  font-size: 16px;
  margin-right: 8px;
}

.reviews .glyphicon-star-empty {
  color: #c8c8cc;
  font-size: 16px;
}

.green-headed-news .content, .blue-headed-news .content {
  position: relative;
  top: -50px;
  padding: 20px;
}

.green-headed-news .faded-text {
  font-weight: normal;
}

.blue-headed-news .faded-text {
  font-weight: normal;
  margin-top: 28px;
}

.green-headed-news .content .subtitle, .blue-headed-news .content .subtitle {
  font-size: 21px;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 15px;
}

.green-headed-news .content p, .blue-headed-news .content p {
  font-size: 14px;
  line-height: 1.29;
  color: #55555a;
}

.green-headed-news .content .values, .blue-headed-news .content .values {
  margin-top: 20px;
  margin-bottom: 0;
}

.green-headed-news .content .values p:first-of-type, .blue-headed-news .content .values p:first-of-type {
  font-size: 12px;
  color: #77777c;
  text-decoration: line-through;
}

.green-headed-news .content .values p:last-of-type, .blue-headed-news .content .values p:last-of-type {
  font-size: 16px;
  color: #009c3b;
  font-weight: 600;
}

.buy-now {
  margin-top: 45px;
}

.buy-now a {
  font-size: 14px;
  font-weight: bold;
  color: #25ae58;
}

.buy-now a:hover {
  text-decoration: none;
  color: #00dd3b;
}

.buy-now a img {
  fill: #25ae58;
}

.buy-now a:hover img {
  fill: #00dd3b;
}

.news div .subtitle {
  margin-bottom: 60px;
}

/* plans */
.plans {
  margin-bottom: 40px;
}

.plans div .subtitle,
.single-courses div .subtitle {
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 60px;
}

.plans div a,
.single-courses div a {
  display: inline-block;
  color: #009c3b;
  font-size: 12px;
  font-weight: 600;
}

.plans div a:hover,
.single-courses div a:hover {
  text-decoration: none;
  color: #00dd3b;
}

.plans .pagination {
  font-size: 14px;
  font-weight: 600;
  color: #77777c;
  margin-top: 23px;
  margin-top: 2px;
}

.back-pagination {
  transform: rotate(180deg);
  padding-bottom: 3px;
  margin: 0 10px 0 10px;
}

.plans > div:first-of-type > div:first-of-type > div:first-of-type > div:nth-of-type(2) {
  margin-top: 25px;
}

.blue-frame {
  background: url("../images/overlay_bg_azul.svg") no-repeat center;
  height: 349px;
  border-radius: 12px;
  padding: 5px 10px 10px 25px;
  color: #fff;
  margin: 0 auto;
}

.green-frame {
  background: url("../images/overlay_verde.svg") no-repeat center;
  height: 349px;
  border-radius: 12px;
  padding: 5px 10px 10px 25px;
  color: #fff;
  margin: 0 auto;
}

.purple-frame {
  background: url("../images/overlay_roxo.svg") no-repeat center;
  height: 349px;
  border-radius: 12px;
  padding: 5px 10px 10px 25px;
  color: #fff;
  margin: 0 auto;
}

.white-frame {
  border-radius: 12px;
  box-shadow: -1px 13px 20px 0 rgba(0, 0, 0, 0.1);
}

.white-frame div.row{
  height: 349px;
  display: flex;
  align-items: center;
}


.white-frame a {
  text-decoration: none;
}

.white-frame a:hover h3 {
  color: #009c3b;
}

.white-frame h3 {
  font-size: 21px;
  font-weight: bold;
  color: #77777c;
  display: inline-block;
  margin: 0px;
}

.white-frame span {
  color: #009c3b;
  font-size: 12px;
  padding-bottom: 12px;
  display: inline-block;
  margin-right: 5px;
}

.plans-title {  
  font-size: 18px;
  font-weight: 600;
  padding-top: 25px;
  padding-left: 10px;
}

.plans-subtitle {
  font-size: 21px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 5px;
}

.plans-subtitle:after {
  content: "";
  display: block;  
  width: 30px;
  height: 4px;
  margin: 20px 0;
  background-color: #fff;
}

.plans-details {
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  margin-top: 0;
}

.plans-description {
  font-size: 12px;
  padding-left: 10px;
}

.blue-frame div a, 
.green-frame div a,
.purple-frame div a {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  padding-right: 23px;
}

.blue-frame div a:hover,
.green-frame div a:hover,
.purple-frame div a:hover {
  color: #c8c8cc;
}