@media only screen and (max-width: 1199px) {
  .material .title {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 991px) {
  .warning .title,
  .material .title {
    margin-left: -48px;
  }
}

@media only screen and (max-width: 767px) {
  .plans-header {
    height: 200px;
  }

  .plans-header > div.container > div.row > div:first-of-type {
    bottom: -60px;
    margin-right: 10px;
  }

  .plans-header > div.container > div.row > div:last-of-type {
    padding-bottom: 10px;
  }

  .plans-header .white-circle {
    height: 120px;
    width: 120px;
    border-radius: 60px;
    margin-right: 10px;
  }

  .plans-title {
    font-size: 18px;
  }
  
  .plans-subtitle {
    font-size: 12px;
  }

  /* plans-warnings */
  .warnings-tab-content, .materials-tab-content {
    padding-left: 5px;
}

  .plans-warnings .tab-content {
    margin-top: 30px;
    margin-right: 10px;
  }

  .plan-description {
    margin-top: 80px;
  }

  .warning .title,
  .material .title {
    font-size: 13px;
    margin-left: 0px;
  }

  .warning .badge {
    display: block;
    margin: 0 0 0 77px;
    position: relative;
    top: -20px;
  }

  .warning-text {
    padding-left: 0px;
    padding-right: 10px;
  }

  .material-text {
    padding-left: 0px;
    padding-right: 10px;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .warning .title,
  .material .title {
    margin-left: 10px;
  }
}

@media only screen and (max-width: 550px) {
  .warning .title,
  .material .title {
    margin-left: 20px;
  }
}

@media only screen and (max-width: 500px) {
  .plans-header > div.container > div.row > div:last-of-type {
    padding-left: 60px;
    padding-bottom: 10px;
  }
}