/* plans-header */
.plans-header {
  background: url('../images/Retangulo\ illustra.svg') no-repeat;
  background-size: cover;
  height: 349px;
}

.plans-header > div, 
.plans-header > div > div {
  height: 100%;
}

.plans-header > div > div {
  display: flex;
}

.plans-header > div.container > div.row > div:first-of-type {
  align-self: flex-end;
  display: relative;
  bottom: -80px;
}

.plans-header > div.container > div.row > div:last-of-type {
  padding-bottom: 20px;
  align-self: flex-end;
}

.plans-header .white-circle {
  height: 160px;
  width: 160px;
  border-radius: 80px;
  background-color: #50ad58;
}

.plans-title {
  display: inline-block;
  font-size: 21px;
  font-weight: bold;
  color: #fff;
  padding: 0px 0px;
  margin-bottom: 0px;
}

.plans-subtitle {
  font-size: 14px;
  color: #fff;
  font-weight: 600;
  margin-top: 5px;
}

/* plans-warnings */
.plans-warnings {
  margin-top: 120px;
}

.plan-warning,  
.plan-description {
  height: 470px;
  border-radius: 12px;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2);
  color: #fff;
}

.nav-pills {
  padding-left: 50px;
  padding-top: 34px;
  padding-right: 34px;
}

.plan-warning > ul > li {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  border: none;
}

.plan-warning > ul > li > a {
  color: #009c3b;
  border: none;
}

.nav > li > a {
  position: relative;
  display: block;
  padding: 0;
  margin-right: 30px;
}

.nav-pills > li.active > a {
  padding-bottom: 3px;
  border-radius: 0;
  border-bottom: solid 3px #009c3b;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #009c3b; 
  background-color: transparent;
}

.plans-warnings .tab-content {
  margin-top: 30px;
  margin-right: 10px;
}

.warnings-tab-content,
.materials-tab-content {
  padding-left: 50px;
}

.warnings-tab-content > .warnings-list {
  overflow-y: scroll;
  height: 300px;
}

.materials-tab-content > .materials-list {
  overflow-y: scroll;
  height: 350px;
}

.gray-square {
  width: 54px;
  height: 54px;
  border-radius: 12px;
  background-color: #d8d8d8;
}

.warning .title {
  font-size: 14px;
  padding-left: 24px;
  font-weight: bold;
  color: #55555a;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.warning .badge {
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background-color: #009c3b;
  width: 103px;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 4px 0;
}

.warning-text {  
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #55555a;
  padding-left: 80px;
  padding-right: 15px;
  padding-bottom: 30px;
  margin-right: 45px;
  margin-left: 20px;
  margin-bottom: 50px;
  border-bottom: solid 1px rgba(200, 200, 204, 0.5);
}

.more-warnings {
  margin-top: 30px;
}

.more-warnings a {
  font-size: 16px;
  font-weight: bold;
  color: #55555a;
  text-decoration: none;
  cursor: pointer;
}

.more-warnings a:hover {
  color: #cacaca;
}

.material .title {
  font-size: 14px;
  padding-left: 20px;
  font-weight: bold;
  color: #55555a;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.material-text {  
  font-size: 14px;
  line-height: 1.5;
  text-align: justify;
  color: #55555a;
  padding-left: 73px;
  padding-right: 15px;
  margin-right: 45px;
  margin-left: 20px;
}

.material-download  {
  padding-bottom: 30px;
  margin-left: 20px;
  margin-bottom: 50px;
  border-bottom: solid 1px rgba(200, 200, 204, 0.5);
}

.material-download a {
  font-size: 14px;
  font-weight: bold;
  color: #55555a;
  text-decoration: none;
  cursor: pointer;
  padding-right: 20px;
}

.material-download a:hover {
  color: #cacaca;
}

.material-download > a > img {
  padding-bottom: 5px;
}

/* plans-description */
.plan-description {
  padding: 32px 0 0 30px;
}

.plan-description .title {
  font-size: 18px;
  font-weight: bold;
  color: #55555a;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.students {
  margin-top: 10px;
}

.plan-description .subtitle {
  font-size: 14px;
  font-weight: bold;
  color: #55555a;
  display: inline-block;
  margin-left: 10px;
  vertical-align: middle;
}

.students .circle {
  width: 26px;
  height: 26px;
  display: inline-block;
  border-radius: 13px;
}

.students .gray {
  background-color: #d8d8d8;
  margin-left: -10px;
}

.students .dark-gray {
  background-color: #77777c;
  margin-left: -10px;
}

.students .gray:first-of-type {
  margin-left: 35px;
}

.students .badge {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  background-color: #009c3b;
  border-radius: 12px;
  text-transform: uppercase;
  padding: 4px 12px;
  text-align: center;
  margin-bottom: 20px;
  margin-left: 10px;
}

.classes-details p,
.teachers-details p {
  font-size: 14px;
  font-weight: 600;
  color: #55555a;
  padding-left: 35px;
}

.description-details p {
  font-size: 12px;
  color: #55555a;
  text-align: justify;
  margin-right: 27px;
  margin-top: 30px;
  padding-top: 30px;
  border-top: solid 1px #55555a;
}

/* available-courses */
.available-courses {
  margin-top: 80px;
}

.available-courses .title {
  font-size: 24px;
  font-weight: bold;
  color: #55555a;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.available-courses .breadcrumb {
  font-size: 12px;
  font-weight: 600;
  color: #77777c;
  background-color: transparent;
  padding-left: 0;
  padding-top: 0;
  margin-top: -5px;
}

.class-category > div > div > .title {
  font-size: 18px;
  font-weight: bold;
  color: #009c3b;
  display: inline-block;
  margin-top: 40px;
}

.class-category .class-category-classes {
  font-size: 14px;
  font-weight: 600;
  padding-left: 5px;
}

.class-category .class-category-classes:after {
  content: "";
  display: block;
  height: 1px;
  margin-top: 10px;
  background-color: #979797;
}

.class-category > div.row:nth-of-type(2) {
  margin-top: 40px;
}

.available-courses .course {
  height: 350px;
}

.course .title {
  font-size: 21px;
  font-weight: bold;
  color: #55555a;
  padding: 40px 20px 20px 20px;
}

/* scrool bars */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  background-color: #f4f5f7;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c8c8cc;
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
  margin-right: 10px;
}