/* Responsivo */
@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  
  .introduction-bg img:first-of-type {
    /* right: 0px; */
  }

  .introduction-bg-girl {
    width: auto;
  }
}

@media only screen and (max-width: 1045px) {
  .introduction-bg img:first-of-type {
    right: -270px;
  }
}

@media only screen and (max-width: 991px) {
  /* header */
  .navbar {
    min-height: 80px;
  }

  nav ul li {
    padding: 0;
  }

  .navbar-toggle {
    margin-top: 20px;
  }

  /* buttons */
  nav div .btn {
    margin-top: 0;
  }

  .btn-green {
    margin: 50px auto;
  }
  
  .btn-white {
    color: #009f29;
    width: 150px;  
    text-align: left;
    padding: 0;
    margin: 0px 18px;
  }
  
  .btn-bordered-white {
    border: none;
    border-radius: 0px;
    color: #009f29;
    width: 150px;
    margin: 0;
    text-align: left;
    padding: 0;
  }

  .introduction {
    margin-bottom: 25px;
  }
}

@media only screen and (max-width: 999px) {
  .introduction-text {
    text-align: center;
  }
  /* Introduction */

  .introduction-text p:first-of-type {
    display: none;
  }
  
  .img-center{
    margin: 20px auto;
  }
}

@media only screen and (max-width: 770px) {
  .title {
    font-size: 40px;
  }

  .btn-white {
    margin: 0px auto;
  }

  /* what you can do */

  .what-you-can-do {
    padding: 30px 0;
  }

  .what-you-can-do h1 {
    margin-bottom: 30px;
  }

  .what-you-can-do .row .col-sm-4 .panel {
    margin: 20px auto;
  }

  /* depositions */

  .depositions-item {
    padding: 20px;
  }
  
  .depositions-item h4 {
    color: #009f29;
    font-weight: normal;
    margin-bottom: 0px;
    text-align: center;
  }
  
  .depositions-item div.row:first-of-type img {
    display: block;
    margin: 0 auto;
    padding: 20px;
    max-width: 200px;
  }

  .depositions-item div.row:first-of-type p {
    text-align: center;
  }

  .arrows {
    display: flex;
    flex: 1 1;
    justify-content: space-between;
    margin: 20px auto;
    padding: 0;
    overflow: hidden;
  }

  .arrows div.col-xs-2 {
    width: 94px;
  }

  /* blog */

  .blog {
    text-align: center;
    margin-top: 60px;
  }

  .blog-text {
    background-color: #009f29;
    color: white;
    position: relative;
    padding: 30px 40px;
    border-radius: 10px;
    height: 300px;
    text-align: left;
    margin: 0 auto;
    margin-bottom: 50px;
  }

  /* partners */

  .partners div:last-of-type div {
    height: 150px;
    background-color: #d8d8d8;
    margin: 15px;
  }

  .partners div.row:last-of-type {
    margin-top: 40px;
  }

  /* newsletter */

  .newsletter div.row:last-of-type {
    margin-top: 40px;
  }

  .newsletter div.row:last-of-type input[type=email] {
    width: 90%;
    display: block;
    margin: 0 auto;
  }
  
  .newsletter div.row:last-of-type button {
    margin: 20px auto;
    display: block;
  }

  /* footer */

  div.container:last-of-type {
    width: 100%;
    padding: 0;
  }

  .footer {
    text-align: center;
  }

  .footer div.row:first-of-type img {
    margin: 0 auto;
    display: block;
  }

  .footer div.row:first-of-type div:nth-of-type(2) img {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  
  .footer div.row:first-of-type ul {
    margin: 0 auto;
    padding: 0;
  }

  .footer div.row:first-of-type ul li {
    display: inline-block;
    padding: 0 20px;
    margin: 0 auto;
  }

  
  .footer div.row:nth-of-type(2) h1 {
    margin-top: 40px;
  }
  
  .footer div.row:nth-of-type(4) ul {
    padding: 0;
  }

  .footer div.row:nth-of-type(4) ul li {
    padding: 0;
  }

  .footer div.row:nth-of-type(4) ul li a {
    font-size: 12px;
    color: white;
    letter-spacing: 1.14px;
  }

}

/* mobile nav on small devices */
@media(max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,.navbar-right {
    float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}