body {
  overflow-x: hidden;
}

/* Tipografia */

.mouse-img {
  cursor: pointer;
}
/* buttons */

.btn-white {
  border: none;
  color: white;
  font-weight: bold;
  background: none;
  width: 50px;  
  font-size: 16px;
}

.btn-bordered-white {
  border: solid 2px white;
  border-radius: 35px;
  color: white;
  font-weight: bold;
  background: none;
  width: 190px;
  height: 65px;
  font-size: 16px;
  margin: 0px 0 0 30px;
}

.btn-green {
  color: white;
  border: solid 2px #009f29;
  border-radius: 35px;
  font-weight: bold;
  background: #009f29;
  width: 230px;
  height: 65px;
  font-size: 18px;
  margin: 30px 30px 0 0;
}

.btn-green-text {
  color: #009f29;
  background: transparent;
  border: none;
  font-weight: bold;
  font-size: 18px;
  padding: 40px 20px;
}

.btn-white-green {
  color: #009f29;
  border: solid 2px #009f29;
  border-radius: 35px;
  font-weight: bold;
  background: transparent;
  width: 230px;
  height: 65px;
  font-size: 18px;
  margin: 20px auto 10px auto;
}

.btn-bordered-white:hover, .btn-white-green:hover {
  color: #55555A;
  border-color: #55555A;
} 

.btn-white:hover, .btn-green:hover, .btn-green-text:hover {
  color: #55555A;
}

/* Introduction */

.introduction {
  margin-bottom: 90px;
}

.introduction-bg {
  position: relative;
  z-index: -1;
  top: -112px;
  margin-left: auto;
  max-height: 570px;
  display: block;
}

.introduction-bg img:first-of-type {
  position: absolute;
  right: -250px;
}

.introduction-bg-girl {
  position: relative;
  margin-left: auto;
  padding-right: 263px;
  display: block;
  top: 150px;
}

.introduction-text {
  color: #55555A;
  z-index: 0;
  font-weight: bold;
  padding: 45px 0 0 0;
}

.introduction-text p:last-of-type{
  font-weight: normal;
  font-size: 18px;
  padding-top: 20px;
}

.img-center{
  display: block;
  margin: 10px auto;
}

/* What you can do */

.what-you-can-do {
  padding: 60px 0;
}

.what-you-can-do h1 {
  margin-bottom: 80px;
}

.what-you-can-do .row .col-sm-4 .panel {
  min-height: 460px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1), -5px 5px 15px rgba(0,0,0,0.1);
}

.what-you-can-do .row .col-sm-4:nth-of-type(2) h3, 
.what-you-can-do .row .col-sm-4:nth-of-type(3) h3 { 
  margin-top: 40px;
}

.what-you-can-do p {
  margin: 10px auto;
}

.what-you-can-do .btn-green {
  margin: 10px;
}

/* Depositions */

div.container:nth-of-type(5) {
  background: #f9f9fa;
}

.depositions-section {
  margin-top: 60px;
}

.quotes {
  font-size: 200px;
  color: #009f29;
  line-height: 36px;
  margin-top: 100px;
}

.depositions-items {
  margin-top: 40px;
}

.depositions-item {
  margin: 20px auto;
  padding: 35px;
  background: #fff;
  border-radius: 5px;
}

.depositions-item img {
  display: block;
}

.depositions-item h4 {
  color: #009f29;
  font-weight: normal;
  margin-bottom: 0px;
}

.depositions-item div.row:first-of-type p {
  font-size: 16px;
  color: #000;
  margin-top: 2px;
}

.depositions-item div:nth-last-of-type(1) p {
  margin-top: 20px;
  font-size: 18px;
  color: #55555A;
}

.depositions-item div:last-of-type div:last-of-type {
  padding-left: 0px;
}

.arrows {
  margin: 10px 10px 10px 150px;
  position: relative;
  z-index: 1;
}

.arrows button {
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.arrows div.col-xs-2 {
  width: 12%;
}

.depositions-section footer {
  position: relative;
  top: -104px;
  padding: 0;
}

.depositions-section footer div {
  padding: 0;
}

.depositions-section footer img {
  z-index: 0;
  margin-bottom: -104px;
}

/* Partners */

.partners {
  margin-top: 100px;
}

.partners p {
  font-size: 18px;
  line-height: 1.33;
  max-width: 750px;
  text-align: center;
  margin: 35px auto;
}

.partners div.row:last-of-type {
  margin-top: 100px;
}

.partners div:last-of-type div {
  height: 84px;
  background-color: #d8d8d8;
}

/* newletter */

.newsletter {
  margin: 100px auto 0 auto;
  min-height: 400px;
  max-width: 1010px;
  border-radius: 6px;
  border-top: 5px solid #009f29;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.2), -5px 5px 5px rgba(0,0,0,0.2);
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.newsletter h1 {
  margin-top: 40px;
}

.newsletter p {
  font-size: 18px;
  margin-top: 35px;
}

.newsletter div.row:last-of-type {
  margin-top: 80px;
}

.newsletter div.row:last-of-type input[type=email] {
  border: none;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.1), -5px 5px 5px rgba(0,0,0,0.1);
  height: 68px;
  width: 100%;
  border-radius: 20px;
  font-size: 18px;
  font-style: italic;
  padding-left: 20px;
  margin-left: 60px;
}

.newsletter div.row:last-of-type button {
  margin: 0 auto;
  display: block;
}

/* footer */
.footer {
  position: relative;
  top: -200px;
  bottom: 0;
  z-index: 0;
  margin-top: 0;
  padding-top: 200px;
  margin-bottom: -200px;
  overflow: hidden;
  margin-right: -15px;
  margin-left: -15px;
}